__pycache__/
_installers/
instance_segmentation/
lane_detection/
paddle_ocr/
pose_estimation/
rpi_examples/
speech_recognition/
super_resolution/
.hailo/
.venv*
build/
models/
cpp/

*.pyc
*.swp
*.log
